<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/banner.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>PetShop Bafudex</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplicativo para agendamento de Tosa e Banho de seu Pet.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Nossos Parceiros</ion-label>
      </ion-list-header>
      <ion-item href="https://www.cobasi.com.br/">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
        <ion-label>Cobasi - Maior Loja de Pet de 2018</ion-label>
      </ion-item>
      <ion-item href="https://www.petz.com.br/">
        <ion-icon ios="ios-paw" md="md-paw"></ion-icon>
        <ion-label>PETZ - O maior Pet Shop do Brasil</ion-label>
      </ion-item>
      <ion-item href="http://www.clinicawebcao.com.br/">
        <ion-icon ios="ios-medkit" md="md-medkit"></ion-icon>
        <ion-label>WebCão - Clínica Veterinária - Jales/SP</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
